
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 77px;
    justify-content: space-between;
    background-color: #22212187;
}

.logo{
    position: fixed;
    left: 20px;
    width: 100px;
    top: 28px;

}
.avatar{
    position: fixed;
    right: 20px;
    top: 28px;
    width: 30px;
}