.row {
    margin-left: 20px;
    color: white;
}

.posters {
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.poster-img {
    max-height: 250px;
    margin-right: 10px;
}

.posters::-webkit-scrollbar {
    display: none;
}

.small-poster-img{
    max-height: 150px;
    margin-right: 10px;
}
.rowtitle{
    padding: 5px 0 15px 18px;

}